{% extends "layout.html" %}

{% block head %} 

    <title>Movie Recommender</title>
    <script type="text/javascript">
        const movies = {{ movies | tojson }};
    </script>

{% endblock %}

{% block body %}

    <main>
        <div class="centered">
            <h1>The Movie Recommender</h1>
            <form action="/" autocomplete="off" method="POST">
                <div class="movie-search">
                    <div class="autocomplete">
                        <input id="movie" name="movie" placeholder="Movie name" type="text">
                        <ul id="results"></ul>
                    </div>
                    <button type="submit">Recommend</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="centered">
            <p>Data from <a href="https://movielens.org/">MovieLens.org</a></p>
        </div>
    </footer>

{% endblock %}