{% extends "layout.html" %}

{% block head %} 

    <title>Movie Recommender</title>
    <script type="text/javascript">
        const movies = {{ movies | tojson }};
    </script>

{% endblock %}

{% block body %}

    <div class="centered">
        <h1>The Movie Recommender</h1>
        <form action="/" autocomplete="off" method="POST">
            <div class="movie-search">
                <div class="autocomplete">
                    <input id="movie" name="movie" placeholder="Movie name" type="text">
                    <ul id="results"></ul>
                </div>
                <button type="submit">Recommend</button>
            </div>
        </form>
    </div>

{% endblock %}